extends include/layout.pug

block meta-title
	title Trinh Gia Tuan | UX/UI Designer | Portfolio

block custom

block content
	// Banner
	.section.section-banner
		.container
			.row.align-items-center
				.col-lg-6.content-text
					.title Hello, <br> I'm a 
						a(href="https://medium.muz.li/what-is-a-full-stack-designer-in-2017-will-you-be-one-7933a7145fb7" ref="nofollow" data-toggle="tooltip" title="What's a Fullstack Designer?") Fullstack Designer
					//- p My name is Trinh Gia Tuan, the <script>document.write((new Date().getFullYear()) -1995)</script>-year-old guy with a confident background of developing Applications User Interface including website, mobile, and desktop.
					p My name is Trinh Gia Tuan, a designer with the passion for developing Applications User Interfaces including mobile applications, and websites.
				.col-lg-6.content-bg(data-responsive-sm="800" data-responsive-xs="600")
					include svg/banner-bg.svg
	
	// Profile
	.section.section-profile
		.container
			.row.align-items-center
				.col-md-7.col-lg-6
					include svg/profile-illustration.svg
				.col-md-5.col-lg-6
					.section-title Profile
					.profile-content
						ul
							li
								.title Fullname
								span Trinh Gia Tuan
							li
								.title Date of Birth
								span 11th October, 1995
							li
								.title Email
								a(href="mailto:giatuantrinh@gmail.com") giatuantrinh@gmail.com
							li
								.title Phone
								a(href="tel:+84703000876") 0703 000 876
								.mx-1 -
								a(href="skype:live:giatuantrinh?chat")
									i.ri-skype-fill(style="font-size: 20px; color: #00aff0;")
							li
								.title Skype
								a(href="skype:live:giatuantrinh?chat" style="text-decoration: underline;") live:giatuantrinh
							li
								.title Address
								span District 11, Ho Chi Minh City

	// Skills
	.section.section-skills
		.container
			.section-title.text-center Skills
			.row.align-items-center.skills-content
				-
					let skills = [
						{
							'title': 'UI Design',
							'icon': 'ui.svg'
						},
						{
							'title': 'UX Mindset',
							'icon': 'ux.svg'
						},
						{
							'title': 'Develop',
							'icon': 'develop.svg'
						},
					]

				each item, index in skills
					.col-md-4.col-sm-6.item
						.icon
							img(src!=`assets/images/icons/${item.icon}`)/
						.title= item.title

	// Work
	.section.section-work
		.container
			.section-title Work
			.navigation-tabs
				ul
					-
						let categories = [
							{
								'title': 'Featured',
								'slug': 'featured'
							},
							{
								'title': 'Web',
								'slug': 'web'
							},
							{
								'title': 'Mobile App',
								'slug': 'app'
							},
							{
								'title': 'Branding',
								'slug': 'branding'
							},
							{
								'title': 'Illustration',
								'slug': 'illustration'
							},
						]
					each item, index in categories
						- let className = index === 0 ? 'active' : ''
						li(class=className)
							a(href="#" data-tab-target=`#category-${item.slug}`)= item.title
		
		.swiper-container(id="category-featured")
			.swiper-wrapper.slide-wrapper
				.swiper-slide.item
					.item-thumbnail
						img(src="assets/images/projects/mobile/agoyu-app.jpg")
						a(href="https://www.notion.so/Agoyu-e6be289682ac43ebaf22cb9d9ffd2049" target="_blank").overlay-content.external
							.text-center
								i.icon.ri-external-link-line
								.text View case study
					
		.swiper-container(id="category-web" style="display: none;")
			.swiper-wrapper.slide-wrapper
				mixin galleryCard(item, index)
					.swiper-slide.item
						.item-thumbnail
							img(src=item.image)
							a(href=item.fullImage data-size=`${getImageSize(item.image)[0]}x${getImageSize(item.image)[1]}` data-img-index=index).overlay-content
								i.icon.ri-zoom-in-line
							//- <?php list($width, $height) = getimagesize('#{item.fullImage}') ?>
							//- a(href=item.fullImage data-size!="<?php echo $width.'x'.$height; ?>" data-img-index=index).overlay-content
							//- 	i.icon.ri-zoom-in-line
						.title= item.title
						.url-link
							//- i.icon.ri-global-line
							a(href=item.website target="_blank" rel="nofollow")= item.website
				each item, index in webProjects
					+galleryCard(item, index)
			//- .swiper-pagination
			//- .swiper-button-prev
			//- .swiper-button-next
			//- .swiper-scrollbar

		.swiper-container(id="category-app" style="display: none;")
			.swiper-wrapper.slide-wrapper
				each item, index in mobileProjects
					+galleryCard(item, index)
					
		.swiper-container(id="category-branding" style="display: none;")
			.swiper-wrapper.slide-wrapper
				each item, index in brandingProjects
					+galleryCard(item, index)

		.swiper-container(id="category-illustration" style="display: none;")
			.swiper-wrapper.slide-wrapper
				each item, index in illustrationProjects
					+galleryCard(item, index)
	// Contact
	.section.section-contact.mb-0
		//- include svg/bg-shape.svg
		img(src="assets/images/shape/shape-wave-1.svg").shape-wave-1
		img(src="assets/images/shape/shape-wave-2.svg").shape-wave-2
		img(src="assets/images/shape/tree-1.svg").shape-tree-1
		img(src="assets/images/shape/tree-2.svg").shape-tree-2
		.container
			.row.align-items-center
				.col-md-7.col-lg-6.content-text
					.title Interested in my work?
					div
						a(href="ux-ui-designer-trinh-gia-tuan.pdf" download).btn.btn-brand 
							i.ri-download-2-fill 
							|  Download Resume
						a(href="ux-ui-designer-trinh-gia-tuan.pdf" target="_blank").btn.btn-secondary.ml-2 
							i.ri-eye-line
							|  View Resume
				.col-md-5.col-lg-6.content-bg
					include svg/human-2.svg
	
	//- Photoswipe
	.pswp(tabindex="-1" role="dialog" aria-hidden="true")
		.pswp__bg
		.pswp__scroll-wrap
			.pswp__container
				.pswp__item
				.pswp__item
				.pswp__item
			.pswp__ui.pswp__ui--hidden
				.pswp__top-bar
					.pswp__counter
					button.pswp__button.pswp__button--close(title="Close (Esc)")
					button.pswp__button.pswp__button--share(title="Share")
					button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
					button.pswp__button.pswp__button--zoom(title="Zoom in/out")
					.pswp__preloader
						.pswp__preloader__icn
							.pswp__preloader__cut
								.pswp__preloader__donut
				.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
					.pswp__share-tooltip
				button.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")
				button.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")
				.pswp__caption
					.pswp__caption__center

block script
	//-  Get Data Image
	-
		let featuredItems = [];
		let webItems = [];
		let appItems = [];
		let brandingItems = [];
		let illustrationItems = [];
		//- for (x in webProjects){
		//- 	var item = webProjects[x]
		//- 	var index = Object.keys(webProjects).indexOf(item)
		//- 	webItems.push(`{
		//- 		src: '${item.fullImage}',
		//- 		w: '${getImageSize(item.fullImage)[0]}',
		//- 		h: '${getImageSize(item.fullImage)[1]}',
		//- 		pid: 'web${index}',
		//- 		test: '${webProjects[x]}'
		//- 	}`)
		//- }
		// featuredProjects.forEach(function(item, index){
		// 	featuredItems.push(`{
		// 		src: '${item.fullImage}',
		// 		w: '${getImageSize(item.fullImage)[0]}',
		// 		h: '${getImageSize(item.fullImage)[1]}',
		// 		pid: 'web-${index}',
		// 	}`)
		// })
		webProjects.forEach(function(item, index){
			webItems.push(`{
				src: '${item.fullImage}',
				w: '${getImageSize(item.fullImage)[0]}',
				h: '${getImageSize(item.fullImage)[1]}',
				pid: 'web-${index}',
			}`)
		})
		mobileProjects.forEach(function(item, index){
			appItems.push(`{
				src: '${item.fullImage}',
				w: '${getImageSize(item.fullImage)[0]}',
				h: '${getImageSize(item.fullImage)[1]}',
				pid: 'app-${index}'
			}`)
		})
		brandingProjects.forEach(function(item, index){
			brandingItems.push(`{
				src: '${item.fullImage}',
				w: '${getImageSize(item.fullImage)[0]}',
				h: '${getImageSize(item.fullImage)[1]}',
				pid: 'branding-${index}'
			}`)
		})
		illustrationProjects.forEach(function(item, index){
			illustrationItems.push(`{
				src: '${item.fullImage}',
				w: '${getImageSize(item.fullImage)[0]}',
				h: '${getImageSize(item.fullImage)[1]}',
				pid: 'illustration-${index}'
			}`)
		})

	script.
		// Loop Data
		let webItems = [!{webItems}],
			appItems = [!{appItems}],
			brandingItems = [!{brandingItems}],
			illustrationItems = [!{illustrationItems}];
		// Window Onload
		document.addEventListener('DOMContentLoaded', (e)=> {
			theme.bannerCofig();
			theme.workGrid();
			theme.photoswipeInit('.section-work', '.swiper-container', '.item-thumbnail a.overlay-content:not(.external)');
		});
		// Window Resize
		window.addEventListener('resize', function(event) {
			theme.workGrid();
		}, true);