extends common/layout.pug

block meta-title
	title Trinh Gia Tuan | UX/UI Designer | Portfolio

block custom
	<?php ini_set('display_errors', 1); ?>

block content
	// Banner
	.section.section-banner
		.container
			.row.align-items-center
				.col-lg-6.content-text
					.title Hello, <br> I'm 
						a(href="https://medium.muz.li/what-is-a-full-stack-designer-in-2017-will-you-be-one-7933a7145fb7" ref="nofollow" data-toggle="tooltip" title="What's a Fullstack Designer?") Fullstack Designer
					p My name is Trinh Gia Tuan, the <script>document.write((new Date().getFullYear()) -1995)</script>-year-old guy with a confident background of developing Applications User Interface including website, mobile, and desktop.
				.col-lg-6.content-bg(data-responsive-sm="800" data-responsive-xs="600")
					include svg/banner-bg.svg
	
	// Profile
	.section.section-profile
		.container
			.row.align-items-center
				.col-md-7.col-lg-6
					include svg/profile-illustration.svg
				.col-md-5.col-lg-6
					.section-title Profile
					.profile-content
						ul
							li
								.title Fullname
								span Trinh Gia Tuan
							li
								.title Date of Birth
								span 11th October, 1995
							li
								.title Email
								a(href="mailto:giatuantrinh@gmail.com") giatuantrinh@gmail.com
							li
								.title Phone
								a(href="tel:+84703000876") 0703 000 876
							li
								.title Address
								span District 11, Ho Chi Minh City

	// Skills
	.section.section-skills
		.container
			.section-title.text-center Skills
			.row.align-items-center.skills-content
				-
					let skills = [
						{
							'title': 'UI Design',
							'icon': 'ui.svg'
						},
						{
							'title': 'UX Mindset',
							'icon': 'ux.svg'
						},
						{
							'title': 'Develop',
							'icon': 'develop.svg'
						},
					]

				each item, index in skills
					.col-md-4.col-sm-6.item
						.icon
							img(src!=`assets/images/icons/${item.icon}`)/
						.title= item.title

	// Work
	.section.section-work
		.container
			.section-title Work
			.navigation-tabs
				ul
					-
						let categories = [
							{
								'title': 'Web',
								'slug': 'web'
							},
							{
								'title': 'Mobile App',
								'slug': 'app'
							},
							//- {
							//- 	'title': 'Branding',
							//- 	'slug': 'branding'
							//- },
							//- {
							//- 	'title': 'Illustration',
							//- 	'slug': 'illustration'
							//- },
						]
					each item, index in categories
						- let className = index === 0 ? 'active' : ''
						li(class=className)
							a(href="#" data-tab-target=`#category-${item.slug}`)= item.title
		
		.swiper-container(id="category-web")
			.swiper-wrapper.slide-wrapper
				-
					let webProjects = [
						{
							'title': 'Citigym - Hệ thống phòng tập đẳng cấp',
							'website': 'https://citigym.com.vn',
							'image': 'assets/images/projects/web/citigym.jpg',
							'fullImage': 'assets/images/projects/web/full/citigym.jpg',
						},
						{
							'title': 'Ayaka - Tả dành cho em bé đến Nhật bản',
							'website': 'https://ayakadiaper.com',
							'image': 'assets/images/projects/web/ayaka.jpg',
							'fullImage': 'assets/images/projects/web/full/ayaka.jpg',
						},
						{
							'title': 'Parimilk - Dinh dưỡng cao cấp cho mọi lứa tuổi',
							'website': 'https://www.parimilk.com',
							'image': 'assets/images/projects/web/parimilk.jpg',
							'fullImage': 'assets/images/projects/web/full/parimilk.jpg',
						},
						{
							'title': 'IFoss',
							'website': 'http://ifoss.com/',
							'image': 'assets/images/projects/web/ifoss.jpg',
							'fullImage': 'assets/images/projects/web/full/ifoss.jpg',
						},
						{
							'title': 'Chợ hoa tươi - Sàng bán hoa sỉ',
							'website': 'http://chohoatuoi.vn',
							'image': 'assets/images/projects/web/chohoatuoi.jpg',
							'fullImage': 'assets/images/projects/web/full/chohoatuoi.jpg',
						},
						{
							'title': '007 Flower - Bán hoa trực tuyến',
							'website': 'http://007flower.com',
							'image': 'assets/images/projects/web/007-flower.jpg',
							'fullImage': 'assets/images/projects/web/full/007-flower.jpg',
						},
						{
							'title': 'Khatoco Event',
							'website': 'https://thoitrangkhatoco.vn',
							'image': 'assets/images/projects/web/khatoco-event.jpg',
							'fullImage': 'assets/images/projects/web/full/khatoco-event.jpg',
						},
						{
							'title': 'Last Shoes',
							'website': 'http://lastshoes.com.au',
							'image': 'assets/images/projects/web/last-shoes.jpg',
							'fullImage': 'assets/images/projects/web/full/last-shoes.jpg',
						},
						{
							'title': 'News Concept',
							'website': '',
							'image': 'assets/images/projects/web/news.jpg',
							'fullImage': 'assets/images/projects/web/full/news.jpg',
						},
						{
							'title': 'Mango App',
							'website': 'http://mangoapp.vn',
							'image': 'assets/images/projects/web/mango.jpg',
							'fullImage': 'assets/images/projects/web/full/mango.jpg',
						},
						{
							'title': 'Edubot',
							'website': 'https://edubot.xbot.com.vn',
							'image': 'assets/images/projects/web/evbot.jpg',
							'fullImage': 'assets/images/projects/web/full/evbot.jpg',
						},
						{
							'title': 'Edubot Admin',
							'website': 'https://edubot.xbot.com.vn',
							'image': 'assets/images/projects/web/evbot-admin.jpg',
							'fullImage': 'assets/images/projects/web/full/evbot-admin.jpg',
						},
						{
							'title': 'Getraco',
							'website': '',
							'image': 'assets/images/projects/web/getraco.jpg',
							'fullImage': 'assets/images/projects/web/full/getraco.jpg',
						},
					]
				mixin galleryCard(item, index)
					.swiper-slide.item
						.item-thumbnail
							img(src=item.image)
							<?php list($width, $height) = getimagesize('#{item.fullImage}') ?>
							a(href=item.fullImage data-size!="<?php echo $width.'x'.$height; ?>" data-img-index=index).overlay-content
								i.icon.ri-zoom-in-line
						.title= item.title
						.url-link
							//- i.icon.ri-global-line
							a(href=item.website target="_blank" rel="nofollow")= item.website

				each item, index in webProjects
					+galleryCard(item, index)
			//- .swiper-pagination
			//- .swiper-button-prev
			//- .swiper-button-next
			//- .swiper-scrollbar

		.swiper-container(id="category-app" style="display: none;")
			.swiper-wrapper.slide-wrapper
				-
					let mobileProjects = [
						{
							'title': 'Model Connect',
							'website': '',
							'image': 'assets/images/projects/mobile/model-app.jpg',
							'fullImage': 'assets/images/projects/mobile/full/model-app.jpg',
						},
						{
							'title': 'Mango App',
							'website': '',
							'image': 'assets/images/projects/mobile/mango-app.jpg',
							'fullImage': 'assets/images/projects/mobile/full/mango-app.jpg',
						},
					]
				each item, index in mobileProjects
					+galleryCard(item, index)

		//- .swiper-container(id="category-branding" style="display: none;") asd
		//- .swiper-container(id="category-illustration" style="display: none;") asd
	// Contact
	.section.section-contact.mb-0
		//- include svg/bg-shape.svg
		img(src="assets/images/shape/shape-wave-1.svg").shape-wave-1
		img(src="assets/images/shape/shape-wave-2.svg").shape-wave-2
		img(src="assets/images/shape/tree-1.svg").shape-tree-1
		img(src="assets/images/shape/tree-2.svg").shape-tree-2
		.container
			.row.align-items-center
				.col-md-7.col-lg-6.content-text
					.title Interested my work?
					a(href="Designer-Trinh-Gia-Tuan.pdf").btn.btn-brand Download CV
				.col-md-5.col-lg-6.content-bg
					include svg/human-2.svg
	
	//- Photoswipe
	.pswp(tabindex="-1" role="dialog" aria-hidden="true")
		.pswp__bg
		.pswp__scroll-wrap
			.pswp__container
				.pswp__item
				.pswp__item
				.pswp__item
			.pswp__ui.pswp__ui--hidden
				.pswp__top-bar
					.pswp__counter
					button.pswp__button.pswp__button--close(title="Close (Esc)")
					button.pswp__button.pswp__button--share(title="Share")
					button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
					button.pswp__button.pswp__button--zoom(title="Zoom in/out")
					.pswp__preloader
						.pswp__preloader__icn
							.pswp__preloader__cut
								.pswp__preloader__donut
				.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
					.pswp__share-tooltip
				button.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")
				button.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")
				.pswp__caption
					.pswp__caption__center
		//- .pswp__custom--gallery.slider-wrapper
		//- 	a.item.pswp__custom--gallery-item(href="<?php echo $value; ?>")
		//- 		img(src="<?php echo $value; ?>")

block script

	//-  Get Data Image
	| <?php $webFullImages = array(
	each item, index in webProjects
		| '#{item.fullImage}',
	| ); ?>

	| <?php $appFullImages = array(
	each item, index in webProjects
		| '#{item.fullImage}',
	| ); ?>

	script.
		// Init Gallery Plugins
		let $pswp = document.querySelector('.pswp'),
			webItems = [
				<?php foreach ($webFullImages as $key => $value) { 
					list($width, $height) = getimagesize($value); ?>
				{
					src: '<?php echo $value; ?>',
					w: '<?php echo $width; ?>',
					h: '<?php echo $height; ?>',
					galleryUID: '<?php echo $key; ?>'
				},
				<?php } ?>
			],
			appItems = [
				<?php foreach ($appFullImages as $key => $value) { 
					list($width, $height) = getimagesize($value); ?>
				{
					src: '<?php echo $value; ?>',
					w: '<?php echo $width; ?>',
					h: '<?php echo $height; ?>',
					galleryUID: '<?php echo $key; ?>'
				},
				<?php } ?>
			];
		$(document).on('click', '.section-work .item-thumbnail .overlay-content', function(event) {
			event.preventDefault();

			var index = $(this).data('img-index'),
				category = $(this).closest('.swiper-container').attr('id'),
				data,
				thumbnail = this,
				options = {
				arrowEl: true,
				index: index,
				bgOpacity: 0.8,
				getThumbBoundsFn: function(index) {
					// get window scroll Y
					var pageYScroll = window.pageYOffset || document.documentElement.scrollTop;
					// optionally get horizontal scroll

					// get position of element relative to viewport
					var rect = thumbnail.getBoundingClientRect();

					// w = width
					return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
				}
			}
			category == 'category-web' ? data = webItems : 0;
			category == 'category-app' ? data = appItems : 0;
			console.log(category);
			console.log(data);
			var lightBox = new PhotoSwipe($pswp, PhotoSwipeUI_Default, data, options);
			lightBox.init();
		});
		