extends include/layout.pug

block meta-title
	title Trình Gia Tuấn | UX/UI Designer | Portfolio

block custom
block page-css
	//- Photoswipte
	link(rel="stylesheet" type="text/css" href="assets/plugins/photoswipe/dist/photoswipe.css")
	link(rel="stylesheet" type="text/css" href="assets/plugins/photoswipe/dist/default-skin/default-skin.css")
	//- Swiper
	link(rel="stylesheet" type="text/css" href="assets/plugins/swiper/swiper-bundle.min.css")

block content
	//- Banner
	.section.section-banner
		.container
			.row.align-items-center
				.col-lg-6.content-text
					.title Hello, <br> I'm a UX/UI Designer
					//- .title Hello, <br> I'm a 
					//- 	a(href="https://medium.muz.li/what-is-a-full-stack-designer-in-2017-will-you-be-one-7933a7145fb7" ref="nofollow" data-toggle="tooltip" title="What's a Fullstack Designer?") Fullstack Designer

					//- p My name is Trinh Gia Tuan, the <script>document.write((new Date().getFullYear()) -1995)</script>-year-old guy with a confident background of developing Applications User Interface including website, mobile, and desktop.
					p My name is Trinh Gia Tuan, a designer with the passion for designing Applications User Interfaces including mobile applications, and websites.
				.col-lg-6.content-bg(data-responsive-sm="800" data-responsive-xs="600")
					include svg/banner-bg.svg
	
	//- Profile
	.section.section-profile
		.container
			.row.align-items-center
				.col-md-7.col-lg-6.content-bg
					include svg/profile-illustration.svg
				.col-md-5.col-lg-6.content-text
					.section-title Profile
					.profile-content
						ul
							li
								.title Fullname
								span Trình Gia Tuấn
							li
								.title Date of Birth
								span 11th October, 1995
							li
								.title Email
								.d-inline-flex.align-items-center
									a.mr-1(href="mailto:giatuantrinh@gmail.com" style="text-decoration: underline;") giatuantrinh@gmail.com
									i.ri-send-plane-fill(style="font-size: 20px; color: var(--neutral-1);")
							//- li
								.title Phone
								a(href="tel:+84703000876") 0703 000 876
								.mx-1 -
								a(href="skype:live:giatuantrinh?chat")
									i.ri-skype-fill(style="font-size: 20px; color: #00aff0;")
							li
								.title Skype
								.d-inline-flex.align-items-center
									a.mr-1(href="skype:live:giatuantrinh?chat" style="text-decoration: underline;") live:giatuantrinh
									i.ri-skype-fill(style="font-size: 20px; color: var(--skype);")
							li
								.title Address
								span District 11, Ho Chi Minh City

	//- Skills
	//- .section.section-skills
		.container
			.section-title.text-center Skills
			.row.align-items-center.skills-content
				-
					let skills = [
						{
							'title': 'UI Design',
							'icon': 'ui.svg'
						},
						{
							'title': 'UX Design',
							'icon': 'ux.svg'
						},
						{
							'title': 'Develop',
							'icon': 'develop.svg'
						},
					]

				each item, index in skills
					.col-md-4.col-sm-6.item
						.icon
							img(src!=`assets/images/icons/${item.icon}`)/
						.title= item.title

	//- Work
	.section.section-work
		//- .container
			.section-title Work
			.navigation-tabs
				ul
					-
						let categories = [
							{
								'title': 'Featured',
								'slug': 'featured'
							},
							{
								'title': 'Web design',
								'slug': 'web'
							},
							{
								'title': 'Mobile app',
								'slug': 'mobile'
							},
							{
								'title': 'Branding',
								'slug': 'branding'
							},
							{
								'title': 'Illustration',
								'slug': 'illustration'
							},
						]
					each item, index in categories
						- let className = index === 0 ? 'active' : ''
						li(class=className)
							a(href="#" data-tab-target=`#category-${item.slug}`)= item.title
		
		.container
			.section-title Work
			.navigation-tabs
				ul
					li.active
						a(href="#" data-tab-target=`#category-featured`) Featured
					each obj, name in database
						//- - let activeClass = index === 0 ? 'active' : ''
						//- li(class=activeClass)
						li
							a(href="#" data-tab-target=`#category-${name}`)= database[`${name}`].fullName

		//- .swiper-container(id="category-featured")
			.swiper-wrapper.slide-wrapper
				.swiper-slide.item
					.item-thumbnail
						img(src="assets/images/projects/mobile/agoyu-app.jpg")
						a(href="https://www.notion.so/Agoyu-e6be289682ac43ebaf22cb9d9ffd2049" target="_blank").overlay-content.external
							.text-center
								i.icon.ri-external-link-line
								.text View case study
					//- .title Agoyu Moving
				.swiper-slide.item
					.item-thumbnail
						img(src="assets/images/projects/web/bds.jpg")
						a(href="https://swanky-sunflower-2b5.notion.site/BigIn-Design-System-c2a821fb51fa44b1a379e7504692fc98" target="_blank").overlay-content.external
							.text-center
								i.icon.ri-external-link-line
								.text Showcase
					//- .title BigIn Design System

		//- Fetch data from database
		//- Featured
		.swiper-container(id="category-featured")
			.swiper-wrapper.slide-wrapper
				each obj, name in database
					each item, index in database[`${name}`].data
						-
							let isExternal = database[`${name}`].data[index].external
							let isFeatured = database[`${name}`].data[index].featured
						if ((typeof(isFeatured) === 'boolean') && isFeatured)
							if ((typeof(isExternal) === 'boolean') && isExternal)
								+galleryCard__External(item, index, guideText)
							else
								+galleryCard__Internal(item, index)
			//- .container
				.swiper-controls
					a(href="#").btn-just-icon.btn-brand.slide-button-prev
						i.ri-arrow-left-s-line
					a(href="#").btn-just-icon.btn-brand.slide-button-next
						i.ri-arrow-right-s-line
					.swiper-pagination
					//- .swiper-scrollbar

		//- Others project type
		each obj, name in database
			.swiper.swiper-container(id=`category-${name}` style="display: none;")
				.swiper-wrapper.slide-wrapper
					each item, index in database[`${name}`].data
						- let isExternal = database[`${name}`].data[index].external
						if ((typeof(isExternal) === 'boolean') && isExternal)
							+galleryCard__External(item, index, guideText)
						else
							+galleryCard__Internal(item, index)
				.container
					.swiper-controls
						a(href="#").btn-just-icon.btn-ghost.slide-button-prev
							i.ri-arrow-left-s-line
						a(href="#").btn-just-icon.btn-ghost.slide-button-next
							i.ri-arrow-right-s-line
				.swiper-pagination
				//- .swiper-scrollbar

	//- Contact
	.section.section-contact.mb-0
		img(src="assets/images/shape/shape-wave-1.svg").shape-wave-1
		img(src="assets/images/shape/shape-wave-2.svg").shape-wave-2
		img(src="assets/images/shape/tree-1.svg").shape-tree-1
		img(src="assets/images/shape/tree-2.svg").shape-tree-2
		.container
			.row.align-items-center
				.col-md-7.col-lg-6.content-text
					.title#slow-scroll-demo-button Interested in my work?
					div
						a(href="ux-ui-designer-trinh-gia-tuan.pdf" download).btn.btn-brand 
							i.ri-download-2-fill 
							|  Download Resume
						a(href="ux-ui-designer-trinh-gia-tuan.pdf" target="_blank").btn.btn-secondary.ml-2 
							i.ri-eye-line
							|  View Resume
				.col-md-5.col-lg-6.content-bg
					include svg/human-2.svg
	
	//- Photoswipe
	.pswp(tabindex="-1" role="dialog" aria-hidden="true")
		.pswp__bg
		.pswp__scroll-wrap
			.pswp__container
				.pswp__item
				.pswp__item
				.pswp__item
			.pswp__ui.pswp__ui--hidden
				.pswp__top-bar
					.pswp__counter
					button.pswp__button.pswp__button--close(title="Close (Esc)")
					button.pswp__button.pswp__button--share(title="Share")
					button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
					button.pswp__button.pswp__button--zoom(title="Zoom in/out")
					.pswp__preloader
						.pswp__preloader__icn
							.pswp__preloader__cut
								.pswp__preloader__donut
				.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
					.pswp__share-tooltip
				button.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")
				button.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")
				.pswp__caption
					.pswp__caption__center


block page-script
	script(src="assets/plugins/photoswipe/dist/photoswipe.min.js")
	script(src="assets/plugins/photoswipe/dist/photoswipe-ui-default.min.js")
	script(src="assets/plugins/swiper/swiper-bundle.min.js")

block script
	//-  Server side
	//-  Get Data Image (Not rendered)
	- let database_featured = []
	-
		for(var type in database) {
			database[type].data.forEach((item, i)=> {
				//- Add new Property for JSON array
				item['w'] = getImageSize(item.src)[0];
				item['h'] = getImageSize(item.src)[1];
				//- Serve for identify which ID to open PSWP overlay
				item['pid'] = `${type}-${i}`;
			})
			database[type].data.forEach((item, i)=> {
				let isFeatured = database[type].data[i].featured
				if ((typeof(isFeatured) === 'boolean') && isFeatured)
					database_featured.push(item)
			})
		}
	//- Client side
	script.
		// Loop Data from Database
		let database = !{JSON.stringify(database)};
		let database_featured = !{JSON.stringify(database_featured)};
		let theme = new Theme();

		// Window Onload
		document.addEventListener('DOMContentLoaded', (e)=> {
			theme.init();
			theme.bannerCofig();
			theme.photoswipeInit('.section-work', '.swiper-container', '.item-thumbnail a.overlay-content:not(.external)', database, database_featured);
			
			// Waiting for loading end (Fix bug when have scrollbar appear)
			setTimeout(()=> theme.workGrid() , 1100);
		});

		// Window Resize
		window.addEventListener('resize', (e)=> {
			theme.bannerCofig();
			//- theme.workGrid();
		}, true);