extends include/layout.pug

block meta-title
	title Trình Gia Tuấn | Senior Product Designer | UX/UI | Portfolio

block custom
block page-css
	//- Photoswipte
	link(rel="stylesheet" type="text/css" href="assets/plugins/photoswipe/dist/photoswipe.css")
	link(rel="stylesheet" type="text/css" href="assets/plugins/photoswipe/dist/default-skin/default-skin.css")
	//- Swiper
	link(rel="stylesheet" type="text/css" href="assets/plugins/swiper/swiper-bundle.min.css")

block content
	//- Banner
	section.section.section-banner
		.container
			.row.align-items-center
				.col-lg-6.content-text
					.title(id="hello-world") Hello, <br> I'm a Product Designer
					p I help the business owner balance the business value & the user needs. Create value for the product by Problem Solving, Critical Thinking, Data Metric, and Interaction Design.
					//- p My name is Trinh Gia Tuan, a designer with the passion for designing Applications User Interfaces including mobile applications, and websites.
				.col-lg-6.content-bg
					include svg/banner-bg.svg
	
	//- Profile
	section.section.section-profile
		.container
			.row.align-items-center
				.col-md-7.col-lg-6.content-bg
					include svg/profile-illustration.svg
				.col-md-5.col-lg-6.content-text
					.section-heading
						.section-title Profile
					.profile-content
						ul
							li
								.title Full name
								span Trình Gia Tuấn
							li
								.title Date of Birth
								span 11th October, 1995 (age&nbsp;<script>document.write((new Date().getFullYear()) -1995)</script>)
							li
								.title Email
								.d-inline-flex.align-items-center
									a.mr-1(href="mailto:giatuantrinh@gmail.com" style="text-decoration: underline;") giatuantrinh@gmail.com
									i.ri-mail-open-line(style="font-size: 20px; color: var(--neutral-700);")
							//- li
								.title Phone
								a(href="tel:+84703000876") 0703 000 876
								.mx-1 -
								a(href="skype:live:giatuantrinh?chat")
									i.ri-skype-fill(style="font-size: 20px; color: #00aff0;")
							//- li
							//- 	.title Skype
							//- 	.d-inline-flex.align-items-center
							//- 		a.mr-1(href="skype:live:giatuantrinh?chat" style="text-decoration: underline;") live:giatuantrinh
							//- 		i.ri-skype-fill(style="font-size: 20px; color: var(--skype);")
							li
								.title Address
								span District 11, Ho Chi Minh City
							//- li.divider
							li
								.title Experiences
								span <script>document.write((new Date().getFullYear()-1) -2017)</script>+&nbsp;   
									i(style="color: var(--neutral-700);") (2017 → Present)
							li.align-items-center
								//- .title Personality (INFP)
								.personality-progress
									.label
										span 
											b Introvert 
											| (INFP)
										span Extrovert
									.holder
										.tracker 
										span.emoji 👀


	//- Skills
	//- section.section.section-skills
		.container
			.section-heading
				.section-title.text-center Skills
			.row.align-items-center.skills-content
				-
					let skills = [
						{
							'title': 'UI Design',
							'icon': 'ui.svg'
						},
						{
							'title': 'UX Design',
							'icon': 'ux.svg'
						},
						{
							'title': 'Develop',
							'icon': 'develop.svg'
						},
					]
				each item, index in skills
					.col-md-4.col-sm-6.item
						.icon
							img(src!=`assets/images/icons/${item.icon}`)
						.title= item.title
		

	//- Work
	section.section.section-work
		.container
			.section-heading
				.section-title Work
			.navigation-tabs
				ul
					//- li.active
					//- 	a(href="#" data-tab-target="#category-featured") 
					//- 		i.ri-star-smile-fill(style="color: var(--yellow)")
					//- 		|  Featured
					- databaseIndex = 0
					each obj, name in database
						-
							let activeClass = databaseIndex === 0 ? 'active' : ''
							databaseIndex = databaseIndex+1
						li(class=activeClass)
							a(href="#" data-tab-target=`#category-${name}`)= database[`${name}`].fullName
				.switch-view
					a.btn-just-icon(href="#" action="grid").active
						i.ri-function-line
					a.btn-just-icon(href="#" action="list")
						i.ri-list-check-2


		//- Fetch data from database
		each obj, name in database
			.swiper.swiper-container(id=`category-${name}` style="display: none;")
				.swiper-wrapper.slide-wrapper
					each item, index in database[`${name}`].data
						- let isExternal = database[`${name}`].data[index].external
						if ((typeof(isExternal) === 'boolean') && isExternal)
							+galleryCard__External(item, index, `category-${name}`)
						else
							+galleryCard__Internal(item, index, `category-${name}`)
				.container
					.swiper-controls
						a(href="#").btn.btn-just-icon.btn-default.slide-button-prev.mr-2
							i.ri-arrow-left-s-line
						a(href="#").btn.btn-just-icon.btn-default.slide-button-next
							i.ri-arrow-right-s-line
						.swiper-pagination
						//- .swiper-scrollbar

	section.section.section-testimonials
		.container
			.section-heading.text-center
				.section-title Hear the messages
				.section-description Things that keep my colleagues love working with me 🫶
		.container
			.col-md-8.swiper.swiper-container.px-0
				.swiper-wrapper.testimonials-content
					-
						let testimonials = [
							{
								'avatar': 'assets/images/testimonials/1630071259712.jpeg',
								'message': '"Tuan is an excellent UX/UI Designer. His passion for quality and purpose behind his job shines through every interactive design he has made. He is super dedicated and always aims toward higher levels in his career. His learning mindset is amazing. He earned Rising Star and Most Dedicated awards of the company in 2 consecutive years. It would be valuable to have him in a team."',
								'author': 'Long Van',
								'role': 'Chief Executive Officer at BigIn',
								'linkedin': 'https://www.linkedin.com/in/long-van?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3Bx7m5Uk12Sp2dlbg618KfhA%3D%3D',
							},
							{
								'avatar': 'assets/images/testimonials/1545035045296.jpeg',
								'message': '"Tuan here to speed up very fast your idea from draft to high-end design. But also input more than expected with Lean Experience for end-users"',
								'author': 'Danh Nguyen',
								'role': 'Head of Design at BigIn',
								'linkedin': 'https://www.linkedin.com/in/danhnguyenhoang?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3Bx7m5Uk12Sp2dlbg618KfhA%3D%3D',
							},
						]

					each item, index in testimonials
						.swiper-slide
							i.icon-quotes.ri-double-quotes-l(style="color: var(--neutral-300);")
							.testimonials-description= item.message
							.testimonials-author-content
								.testimonials-author-content-left
									img.testimonials-author-avatar(src=item.avatar)
								.testimonials-author-content-right
									.testimonials-author-name= item.author
										a(href=item.linkedin)
											i.ri-linkedin-box-fill 
									.testimonials-author-role= item.role
				.swiper-pagination

	//- Contact
	section.section.section-contact.mb-0
		img(src="assets/images/shape/shape-wave-1.svg").shape-wave-1
		img(src="assets/images/shape/shape-wave-2.svg").shape-wave-2
		img(src="assets/images/shape/tree-1.svg").shape-tree-1
		img(src="assets/images/shape/tree-2.svg").shape-tree-2
		.container
			.row.align-items-center
				.col-md-7.col-lg-6.content-text
					.title#slow-scroll-demo-button Interested in my work?
					.actions
						a(href="product-designer-trinh-gia-tuan.pdf" download).btn.btn-brand 
							i.ri-download-2-fill 
							|  Download Resume
						a(href="product-designer-trinh-gia-tuan.pdf" target="_blank").btn.btn-secondary
							i.ri-eye-line
							|  View Resume
				.col-md-5.col-lg-6.content-bg
					include svg/human-2.svg
	
	//- Photoswipe
	.pswp(tabindex="-1" role="dialog" aria-hidden="true")
		.pswp__bg
		.pswp__scroll-wrap
			.pswp__container
				.pswp__item
				.pswp__item
				.pswp__item
			.pswp__ui.pswp__ui--hidden
				.pswp__top-bar
					.pswp__counter
					button.pswp__button.pswp__button--close(title="Close (Esc)")
					button.pswp__button.pswp__button--share(title="Share")
					button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
					button.pswp__button.pswp__button--zoom(title="Zoom in/out")
					.pswp__preloader
						.pswp__preloader__icn
							.pswp__preloader__cut
								.pswp__preloader__donut
				.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
					.pswp__share-tooltip
				button.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")
				button.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")
				.pswp__caption
					.pswp__caption__center


block page-script
	script(src="assets/plugins/photoswipe/dist/photoswipe.min.js")
	script(src="assets/plugins/photoswipe/dist/photoswipe-ui-default.min.js")
	script(src="assets/plugins/swiper/swiper-bundle.min.js")

block script
	//-  Server side
	//-  Get Data Image (Not rendered)
	-
		for(var type in database) {
			database[type].data.forEach((item, i)=> {
				//- Add new Property for JSON array
				item['w'] = getImageSize(item.src)[0];
				item['h'] = getImageSize(item.src)[1];
				//- Serve for identify which ID to open PSWP overlay
				item['pid'] = `${type}-${i}`;
			})
		}
	//- Client side
	script.
		let theme = new Theme(),
			data = !{JSON.stringify(database)};

		console.log(data.featured)

		// Window Onload
		document.addEventListener('DOMContentLoaded', e => {
			theme.init();
			theme.photoswipeInit('.section-work', '.swiper-container', '.item-thumbnail a.overlay-content:not(.external)', !{JSON.stringify(database)});

			// Waiting for loading end (Fix bug when have scrollbar appear)
			setTimeout(()=> {
				theme.workSwiper();
				theme.testimonialSwiper();
			}, 1100);
		});

		// Window Resize
		window.addEventListener('resize', e => {
			!detectMobile.isMobile ? theme.workSwiper() : 0;
		}, true);

		//- new Date().getHours() >= 19 ? document.body.classList.add('dark-mode') : document.body.classList.remove('dark-mode');
		//- setInterval(()=> console.log(new Date().getHours() + ' ' + new Date().getMinutes() + ' ' + new Date().getSeconds()), 1000);